Saba/saba_final_task_backend/saba_final_task_backend/.vs/saba_final_task_backend.slnx/FileContentIndex/742fe64f-ab50-4292-9312-ce8d503ebd42.vsidx
Saba/saba_final_task_backend/saba_final_task_backend/.vs/saba_final_task_backend.slnx/v18/.suo
*.vsidx
